body {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  background-color: #ffdd55;
}
.nav-link {
  color: #ffffff; /* Defina a cor desejada aqui */
}

.headerfield {
  background-color: black;
  height: 50px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content section {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: flex-start; /* Alinha à esquerda horizontalmente */
  height: 100vh; /* Define a altura da seção como a altura total da página */
  margin-left: 3%;
}
aside {
  position: relative; /* Importante para o posicionamento absoluto */
}

aside img {
  width: 150px;
  margin-top:2%;
  position: absolute;
  top: 0; /* Define a posição do topo da imagem */
  right: 0; /* Define a posição da direita da imagem */
}
